<!DOCTYPE html>
<html lang="en">
<head>
  <title>그 뭐냐</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body{
      background-color: rgba(209, 209, 209, 0.685);
      font-family: Arial;
    }
    summary{
      width: 200px;
      margin-bottom: 20px;
    }
    .navfix  {
      width: 100%;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navfix">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bright">밝기값 조회</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/front">전면 센서</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/back">후면 센서</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://localhost:3000/input_days">날짜별 조회</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://localhost:3000/logout">로그아웃</a>
      </li>
    </ul>
  </div>
</nav>
<div style="height: 100px;"></div>
<h2 style="color: rgb(53, 53, 53);">&nbsp; 날짜별 데이터 조회<br></h2>
<br>
<ul>
  <% if (data) { %>
      <% for (var key in data) { %>
        <details>
          <summary><strong><%= key %></strong></summary> 
              <!-- <ul>
                  <% for (var prop in data[key]) { %>
                      <li><strong><%= prop %></strong>:  -->
                          <ul>
                            <hr>
                              <% for (var subProp in data[key][prop]) { %>
                                <% if (subProp === 'BriValue' || subProp === 'briValue') { %>
                                  <li>밝기값: <%= data[key][prop].BriValue || data[key][prop].briValue%></li>
                                <% } %>
                                <% if (subProp === 'Time' || subProp === 'inputTime') { %>
                                  <li>입력 시간: <%= data[key][prop].Time || data[key][prop].inputTime %></li>
                                <% } %>
                                <% if (subProp === 'BackDistance' || subProp === 'backDistance') { %>
                                  <li>후방 거리: <%= data[key][prop].BackDistance || data[key][prop].backDistance%></li>
                                <% } %>
                                <% if (subProp === 'FrontDistance' || subProp === 'frontDistance') { %>
                                  <li>전방거리: <%= data[key][prop].FrontDistance || data[key][prop].frontDistance %></li>
                                <% } %>
                              <% } %>
                              <hr>
                              <br>
                          </ul>
                      <!-- </li>
                  <% } %>
              </ul> -->
          </li>
        </details>
      <% } %>
  <% } else { %>
      <li>No Data</li>
  <% } %>
</ul>
<button type="button" id="btn" class="page-top">
  <img style="max-width: 100%; height: auto;" src="/image/top.png" alt="왜안나와요">
</button>

<script>
  const button = document.querySelector('botton');
  btn.addEventListener( 'click', () =>{
    window.scrollTo({left:0, top:0});
  });
</script>
</body>
</html>
